<div class="sign-in-form-container">
  <div class="sign-in-form admin-register">
    <h2>Change Password</h2>
    <p>You must change your password from the default before preceding.</p>

    <%= form_for @user, url: post_changed_password_path do |f| %>

      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>

      <%= f.submit "Submit", style: "margin-top:90px;" %>
    <% end %>

  </div>