<div class = "employees-container">
    <div class="employee-search">
        <%= form_with(url: '/employees', method: 'get', local: true) do %>
            <%= text_field_tag(:search) %>
            <%= submit_tag("Search") %>
        <% end %>
    </div>
    <div class="employee-list-container">
        <% @employees.each do |e|%>
            <p><%= link_to e.l_name + ", " + e.f_name, employee_path(e) %></p>
        <% end %>
    </div>
</div>