<div class="employee-profile-container">
    <h1>Employee Info</h1>
    <p>Name: <%= @employee.f_name + " " + @employee.l_name %></p>
    <p>Employee ID: <%= @employee.id %></p>
    <p>Hours this week: <%= @employee.weekly_hours %></p>
</div>