<div class="sign-in-form-container">
  <div class="sign-in-form">
    <h2 style="font-size:25px;margin-bottom:50px;">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", style: "margin-top:90px;" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
