* {
    margin:0;
    padding:0;
    border:none;
    font-family: 'Montserrat', sans-serif;
}
.dashboard-html {
    height: 100%;
}
.dashboard-body {
    min-height: 100%;
}
.dashboard-body {
    display:grid;
    grid-template-columns:120px 1fr;
    grid-template-rows:100px 1fr 120px;
}
.dashboard-header {
    margin:0;
    padding:0;
    border:0;
    width:100%;
    background-color:#617073;
    grid-row:1;
    grid-column:1 /span 2;
    height:100px;
    z-index:99;
    border-bottom:1px solid #a7c6c9;
    position:relative;
}
.dashboard-sidebar {
    background-color:#617073;
    grid-column:1;
    grid-row:1 /span 2;
    padding-top:130px;
    text-align:center;
}
.dashboard-content {
    grid-row:2;
    grid-column:2;
    border:25px solid #a7c6c9;
    background-color:#f2f2f2;
}
.logo {
    width:200px;
    height:auto;
    position:absolute;
    top:15px;
    left:8px;
}
.status {
    color:white;
}
.log-out-btn {
    position:absolute;
    margin:0;
    padding:0;
    top:50%;
    transform:translateY(-50%);
    right:12px;
    width:100px;
    height:40px;
    background-color:#6EC2CB;
    color:white;
    border:none;
    font-size:16px;
    cursor:pointer;
}
.dashboard-content {
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 3fr;
}
.user-info {
    grid-column:1;
    height:100%;
    border-right:1px solid #6EC2CB;
    text-align:center;
    padding-top:35px;
}
.user-info p {
    text-align:left;
    padding-left:35px;
    margin-bottom:18px;
}
.user-info h2, .user-info img, .user-info h3 {
    margin-bottom:30px;
}
.main-content {
    grid-column:2;
    height:100%;
}
.sidebar-btn {
    background-color:rgba(0,0,0,0);
    margin-top:30px;
}
.sidebar-btn img {
    width:55px;
    margin-bottom:5px;
    cursor:pointer;
}
.sidebar-btn p {
    color:white;
}
.fc-timegrid-slots tr {
    height: 25px;
}
.footer {
    grid-row:3;
    grid-column:1/span 2;
    border-top:1px solid #a7c6c9;
}
.footer-section-1 {
    background-color:#617073;
    height:60px;
}
.footer-section-2 {
    height:60px;
    background-color:#6b858a;
}
.fc-header-toolbar.fc-toolbar {
    padding:20px 15px 0 15px;
    & h2 {
        font-size:22px;
    }
}
.fc-col-header-cell-cushion {
    font-size:13px;
}
#legend {
    height:70px;
    width:100%;
    display:flex;
    & .key {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        font-size:10px;
        margin-left:20px;
        & .identifier {
            width:20px;
            height:20px;
        }
        & #shift {
            background-color:#617073;
        }
        & #punch {
            background-color:#a7c6c9;
        }
    }
}
.time-off-form {
    & form {
        padding-top:15px;
        padding-left:15px;
        & h2 {
            margin-bottom:20px;
            font-size:33px;
        }
        & input[type=text] {
            margin-bottom:20px;
            width:250px;
            height:30px;
            border-radius:5px;
        }
        & input[type=submit] {
            width:70px;
            height:25px;
            background-color:#a7c6c9;
            border-radius:5px;
            color:white;
        }
    }
}