.sign-in-form-container {
    min-width:100vw;
    min-height:100vh;
    text-align:center;
    background-color:#a7c6c9;
    & .sign-in-form {
        background-color:white;
        width:400px;
        height:400px;
        border-radius:5px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding:45px 25px 0 25px;
        box-sizing:border-box;
        text-align:center;
        -webkit-box-shadow: -6px 6px 5px 0px rgba(110,110,110,1);
        -moz-box-shadow: -6px 6px 5px 0px rgba(110,110,110,1);
        box-shadow: -6px 6px 5px 0px rgba(110,110,110,1);
        & h2 {
            font-size:35px;
            font-weight:400;
            margin-bottom:25px;
        }
        & input[type=email], input[type=password], input[type=text], input[type=number], #company_time_zone {
            height: 40px;
            border: none;
            border-bottom: 1px solid #b3b3b3;
            width: 80%;
            margin:10px auto;
        }
        & input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=number]:focus, #company_time_zone:focus {
            border:none;
            border-bottom:1px solid #6EC2CB;
            outline:none;
        }
        & .form-options {
            position:absolute;
            bottom:25px;
            width:100%;
            left:50%;
            transform:translate(-50%);
            & .field {
                margin-bottom:8px;
            }
            & .actions {
                margin-bottom:20px;
            }
        }
        & input[type=submit] {
            width:200px;
            height:35px;
            font-size:15px;
            background-color:#a7c6c9;
            color:white;
        }
        & .field.remember {
            font-size:14px;
            display:flex;
            align-items:center;
            justify-content:center;
            & input {
                margin-right:5px;
            }
        }
        & a {
            font-size:13px;
        }
    }
}
.sign-in-form.admin-register {
    height:520px;
}