.employees-container {
    & .employee-list-container {
        padding:25px;
        display:grid;
        grid-template-columns:repeat(6, 1fr);
        grid-template-rows:repeat(auto-fill, 120px);
        grid-gap:25px;
        & .employee-btn {
            width:200px;
            height:50px;
            font-size:20px;
            background-color:#6EC2CB;
            border-radius:5px;
            color:white;
        }
    }  
    & .employee-search {
        padding-top:25px;
        padding-left:25px;
        & input[type=text] {
            height:30px;
            width:200px;
            border-radius:5px;
            margin-right:5px;
        }
        & input[type=submit] {
            height:30px;
            width:60px;
            border-radius:5px;
            background-color:#a7c6c9;
            color:white;
        }
    }
}