// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './mixins.scss';
* {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.home-container {
    height:100%;
    width:100vw;
    background-image:url('https://simple-time-assets.s3-us-west-2.amazonaws.com/home-background');
    background-size:cover;
    background-attachment:fixed;
    & .header {
        height:100vh;
        padding-top:45vh;
        box-sizing:border-box;
        text-align:center;
        & input[type=submit] {
            position:absolute;
            margin:0;
            padding:0;
            top:35px;
            right:25px;
            width:120px;
            height:50px;
            background-color:#6EC2CB;
            color:white;
            border:none;
            font-size:18px;
            @include mq('lgPhone') {
                top:20px;
                right:20px;
                width:90px;
                height:40px;
                font-size:16px;
            }
        }
        & h1 {
            text-transform:uppercase;
            font-size:45px;
            font-weight:300;
            width:85%;
            margin:0 auto;
            text-align:center;
            color:white;
            @include mq('smTablet') {
                font-size:35px;
            }
            @include mq('lgPhone') {
                font-size:28px;
            }
            @include mq('phone') {
                font-size:23px;
            }
        }
        & .logo {
            width:400px;
            height:auto;
            position:absolute;
            top:25px;
            left:15px;
            @include mq('smTablet') {
                width:320px;
            }
            @include mq('lgPhone') {
                width:200px;
            }
            @include mq('phone') {
                width:150px;
            }
        }
        & .learn-more {
           position:absolute;
           bottom:10px;
           left:50%;
           transform:translateX(-50%);
           cursor:pointer;
           & img {
               width:30px;
               margin-top:10px;
               &:hover {
                   width:32px;
                   margin-top:8px;
               }
           }
           & p {
               color:white;
               @include mq('lgPhone') {
                   font-size:13px;
               }
           }
        }
    }
    & .section-1 {
        height:100vh;
        width:100%;
        background-color:#6EC2CB;
        padding-top:50px;
        box-sizing:border-box;
        display:flex;
        justify-content:center;
        position:relative;
        &__why-us {
            display:flex;
            margin-left:45px;
            align-items:center;
            padding-bottom:18vh;
            & img {
                width:475px;
                height:317px;
                margin-right:40px;
                @include mq('smTablet') {
                    width:400px;
                    height:auto;
                }
                @include mq('phone') {
                    width:300px;
                }
            }
            & h3 {
                font-size:65px;
                color:white;
                font-weight:400;
                @include mq('smTablet') {
                    font-size:45px;
                }
                @include mq('lgPhone') {
                    padding-top:25px;
                }
            }
            & p {
                font-size:29px;
                color:white;
                font-weight:300;
                width:75%;
                @include mq('smTablet') {
                    font-size:26px;
                }
                @include mq('lgPhone') {
                    font-size:23px;
                }
                @include mq('phone') {
                    font-size:19px;
                }
            }
            @include mq('tablet') {
                flex-direction:column;
                margin:0 auto;
                & img {
                    margin:0 auto;
                }
                & div {
                    text-align:center;
                    padding-top:20px;
                }
                & p {
                    margin:0 auto;
                }
            }
        }
        & .learn-more {
            position:absolute;
            bottom:10px;
            left:50%;
            transform:translateX(-50%);
            cursor:pointer;
            text-align:center;
            & img {
                width:30px;
                margin:0 auto;
                margin-top:10px;
                &:hover {
                    width:32px;
                    margin-top:8px;
                }
            }
            & p {
                color:white;
                @include mq('lgPhone') {
                    font-size:13px;
                }
            }
        }
    }
    & .section-2 {
        height:100vh;
        width:100%;
        background-color:rgba(0,0,0,0);
        padding-top:50px;
        box-sizing:border-box;
        display:flex;
        justify-content:center;
        position:relative;
        &__why-us {
            display:flex;
            flex-direction:row-reverse;
            margin-left:45px;
            align-items:center;
            padding-bottom:18vh;
            & img {
                width:475px;
                height:317px;
                margin-right:100px;
                @include mq('smTablet') {
                    width:400px;
                    height:auto;
                }
                @include mq('phone') {
                    width:300px;
                }
            }
            & h3 {
                font-size:65px;
                color:white;
                font-weight:400;
                @include mq('smTablet') {
                    font-size:45px;
                }
                @include mq('lgPhone') {
                    padding-top:25px;
                }
            }
            & p {
                font-size:29px;
                color:white;
                font-weight:300;
                width:75%;
                @include mq('smTablet') {
                    font-size:26px;
                }
                @include mq('lgPhone') {
                    font-size:23px;
                }
                @include mq('phone') {
                    font-size:19px;
                }
            }
            @include mq('tablet') {
                flex-direction:column;
                margin:0 auto;
                & img {
                    margin:0 auto;
                }
                & div {
                    text-align:center;
                    padding-top:20px;
                }
                & p {
                    margin:0 auto;
                }
            }
        }
        & .learn-more {
            position:absolute;
            bottom:10px;
            left:50%;
            transform:translateX(-50%);
            cursor:pointer;
            text-align:center;
            & img {
                width:30px;
                margin:0 auto;
                margin-top:10px;
                &:hover {
                    width:32px;
                    margin-top:8px;
                }
            }
            & p {
                color:white;
                @include mq('lgPhone') {
                    font-size:13px;
                }
            }
        }
    }
    & .section-3 {
        height:100vh;
        width:100%;
        background-color:#617073;
        padding-top:50px;
        box-sizing:border-box;
        display:flex;
        justify-content:center;
        position:relative;
        &__why-us {
            display:flex;
            margin-left:45px;
            align-items:center;
            padding-bottom:18vh;
            & img {
                width:475px;
                height:317px;
                margin-right:40px;
                @include mq('smTablet') {
                    width:400px;
                    height:auto;
                }
                @include mq('phone') {
                    width:300px;
                }
            }
            & h3 {
                font-size:65px;
                color:white;
                font-weight:400;
                @include mq('smTablet') {
                    font-size:45px;
                }
                @include mq('lgPhone') {
                    padding-top:25px;
                }
            }
            & p {
                font-size:29px;
                color:white;
                font-weight:300;
                width:75%;
                @include mq('smTablet') {
                    font-size:26px;
                }
                @include mq('lgPhone') {
                    font-size:23px;
                }
                @include mq('phone') {
                    font-size:19px;
                }
            }
            @include mq('tablet') {
                flex-direction:column;
                margin:0 auto;
                & img {
                    margin:0 auto;
                }
                & div {
                    text-align:center;
                    padding-top:20px;
                }
                & p {
                    margin:0 auto;
                }
            }
        }
        & .learn-more {
            position:absolute;
            bottom:10px;
            left:50%;
            transform:translateX(-50%);
            cursor:pointer;
            text-align:center;
            & img {
                width:30px;
                margin:0 auto;
                margin-top:10px;
                &:hover {
                    width:32px;
                    margin-top:8px;
                }
            }
            & p {
                color:white;
                @include mq('lgPhone') {
                    font-size:13px;
                }
            }
        }
    }

    & .section-4 {
        width:100%;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        & .form-div {
            width:40%;
            background-color:white;
            height:100vh;
            padding:0 40px 0 40px;
            @include mq('smTablet') {
                width:60%;
            }
            @include mq('lgPhone') {
                width:80%;
            }
            @include mq('phone') {
                width:100%;
            }
            & form {
                text-align:center;
                & .form-section {
                    margin:0 auto;
                    margin-top:60px;
                    text-align:center;
                    & input {
                        height:40px;
                        border:none;
                        border-bottom:1px solid #b3b3b3;
                        width:80%;
                        margin:0 auto;
                        @include mq('smTablet') {
                            width:87%;
                        }
                        @include mq('lgPhone') {
                            width:92%;
                        }
                        @include mq('phone') {
                            width:97%;
                        }
                    }
                    & input:focus {
                        border:none;
                        border-bottom:1px solid #6EC2CB;
                        outline:none;
                    }
                }
                & input[type=submit] {
                    height:40px;
                    width:80%;
                    margin-top:120px;
                    background-color:#6EC2CB;
                    color:white;
                    border:1px solid #b3b3b3;
                    @include mq('phone') {
                        margin-top:50px;
                    }
                }
            }
        }
    }
}

.thank-you {
    background-color:#617073;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    text-align:center;
    width:100%;
    & h1 {
        font-size:60px;
        margin-bottom:20px;
    }
    & p {
        font-size:22px;
        margin-bottom:15px;
    }
    & a {
        color:white;
        font-size:17px;
    }
}