.employee-profile-container {
    padding:30px;
    & p, h1 {
        margin-bottom:20px;
    }
    & .hours-between {
        width:400px;
        height:100px;
        border-radius:6px;
        background-color:#deebec;
        text-align:center;
        padding:25px 10px;
        border:1px solid #c4cfd1;
        margin-bottom:20px;
        & input[type=submit] {
            width:60px;
            border-radius:5px;
            border:1px solid #c4cfd1;
        }
        & h4, h3 {
            font-weight:400;
        }
        & h4 {
            margin-bottom:20px;
        }
        & h3 {
            margin-top:20px;
        }
        & .form {
            margin-top:25px;
            display:grid;
            grid-template-columns:4fr 1fr 4fr 1fr;
            justify-items:center;
            & input {
                width:150px;
            }
        }
    }
}
.punch-main-container {
    max-height:75vh;
    overflow-y:scroll;
}
.punch-section-container {
    margin-left:15px;
    margin-right:15px;
    margin-top:40px;
    margin-bottom:20px;
    border-bottom:1px solid #c4cfd1;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding-bottom:5px;
    & form {
        display:grid;
        & input[type=submit] {
            width:55px;
            height:25px;
            background-color:#6EC2CB;
            color:white;
            align-self:center; 
        }
    }
}